<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(1)"></head>
<body class="text-center">
<!--<nav th:replace="common/nav :: nav"></nav>-->
<link th:href="@{/css/login.css?v={refreshValue}(refreshValue=${token})}" rel="stylesheet" type="text/css"/>
<div class="container">
<form class="form-signin" id="login-form" action="/login" method="post">
    <img class="mb-4" src="https://sites.image.biyoshop.com/newerp/201804/3ac2a7848a2a38a1e0dcce5f2a02c8ca_20180430.jpg"
         alt="" width="72" height="72">
    <h1 class="h3 font-weight-normal">Please sign in</h1>
    <label for="mobile" class="sr-only">mobile</label>
    <input type="tel" id="mobile" th:value="${mobile}" name="username" class="form-control" placeholder="手机号"
           data-rule="手机号:required;mobile;checkMobileExist">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="密码"
           data-rule="密码:required;checkPassword;">
    <input type="hidden" th:value="${token}" name="token" id="token">

    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="code" id="code" placeholder="验证码"
                   data-rule="验证码:required;checkImageCode;"/>
        </div>
        <div class="col">
            <img class="random-image" th:attr="src=${randomImageUrl}" style="cursor:pointer"
                 id="randomImage" title="点击刷新" onclick="changeCode();"/>
        </div>
    </div>

    <!--<div class="checkbox mb-3 remember">
        <label>
            <input type="checkbox" value="1"> Remember me
        </label>
    </div>-->
    <button type="submit" class="btn btn-lg btn-primary btn-block submit">Sign in</button>
    <div class="mb-3 forget-password">
        <a href="/forget/password/noLogin">忘记密码？</a>
    </div>
    <p class="mt-5 text-muted">&copy; 2017-2018</p>
</form>
</div>
<script type="text/javascript">

    $(function () {
        $("#login-form").validator({
            rules: {
                checkMobileExist: function(element) {
                    var checkMobileResult = "";
                    $.ajax({
                        url: '/check/mobile/exist/noLogin',
                        type: 'post',
                        async: false,
                        dataType: 'json',
                        data: {mobile: $(element).val()},
                        success: function(result) {
                            checkMobileResult = result;
                        }
                    });
                    return checkMobileResult;
                },
                checkPassword: function(element) {
                    var checkPasswordResult = "";
                    $.ajax({
                        url: '/check/password/noLogin',
                        type: 'post',
                        dataType: 'json',
                        async: false,
                        data: {password: $(element).val(), mobile: $("#mobile").val()},
                        success: function(result) {
                            checkPasswordResult = result;
                        }
                    });
                    return checkPasswordResult;
                },
                checkImageCode: function(element) {
                    var checkImageResult = "";
                    $.ajax({
                        url: '/valid/image/code/noLogin',
                        type: 'post',
                        dataType: 'json',
                        async: false,
                        data: {code: $(element).val(), token: $("#token").val()},
                        success: function(result) {
                            checkImageResult = result;
                        }
                    });
                    return checkImageResult;
                }
            },
            valid: function($form) {
                $form.submit();
                // var formObject = {};
                // formObject.username = $("#mobile").val();
                // formObject.password = $("#password").val();
                // formObject.token = $("#token").val();
                // formObject.code = $("#code").val();
                // // alert(JSON.stringify(formObject));
                // $.ajax({
                //     type: 'post',
                //     url: '/login',
                //     async: false,
                //     contentType: 'application/json',
                //     data: JSON.stringify(formObject),
                //     dataType: 'json',
                //     success: function (result) {
                //         if (result.message == "success") {
                //             alert("success");
                //             console.log(result);
                //         } else {
                //             alert(result.message);
                //         }
                //     },
                //     error: function() {
                //         alert("服务异常");
                //     }
                // });
            }
        });
    });

    function changeCode() {
        var randomImage = $("#randomImage");
        randomImage.attr("src", randomImage.attr("src") + "&random=" + new Date().getTime());
    }

</script>
</body>
</html>