<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header(1)"></head>
<body class="text-center">
<!--<nav th:replace="common/nav :: nav"></nav>-->
<link th:href="@{/css/login.css?v={refreshValue}(refreshValue=${token})}" rel="stylesheet" type="text/css"/>
<!--<div class="container">-->
    <form class="form-signin" id="changePassword_form" action="/hello/test">
        <img class="mb-4"
             src="https://sites.image.biyoshop.com/newerp/201804/3ac2a7848a2a38a1e0dcce5f2a02c8ca_20180430.jpg"
             alt="" width="72" height="72">
        <label for="mobile" class="sr-only">mobile</label>
        <input type="tel" id="mobile" name="username" class="form-control" placeholder="手机号"
               data-rule="手机号:required;mobile;checkMobileExist">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="密码"
               data-rule="密码:required;length(6~20);">
        <input type="password" id="repeatPassword" class="form-control repeat-password" placeholder="确认密码"
               data-rule="确认密码:required;checkPassword"/>
        <input type="hidden" th:value="${token}" name="token" id="token">

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control getMsgCode" name="code" id="code" placeholder="验证码"
                       data-rule="验证码:required;"/>
            </div>
            <div class="col-6">
                <button class="btn btn-info" id="getCode" onclick="getValidCode();">获取验证码</button>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block submit">Confirm</button>
        <div>
            <a href="/hello/test">hello test</a>
        </div>
        <p class="mt-5text-muted">&copy; 2017-2018</p>
    </form>
<!--</div>-->
<script type="text/javascript">

    $(function () {
        $("#changePassword_form").validator({
            rules: {
                checkMobileExist: function (element) {
                    return $.ajax({
                        url: '/check/mobile/exist/noLogin',
                        type: 'post',
                        async: false,
                        dataType: 'json',
                        data: {mobile: $(element).val()}
                    });
                },
                checkPassword: function (element) {
                    if ($(element).val() != $("#password").val()) {
                        return "两次密码不一致";
                    } else {
                        return true;
                    }
                },
                checkImageCode: function (element) {
                    var checkResult = "";
                    $.ajax({
                        url: '/valid/image/code/noLogin',
                        type: 'post',
                        dataType: 'json',
                        async: false,
                        data: {code: $(element).val(), token: $("#token").val()},
                        success: function (result) {
                            checkResult = result;
                        }
                    });
                    return checkResult;
                }
            },
            valid: function ($form) {
                $form.submit();
            }
        });
    });

    function changeCode() {
        var randomImage = $("#randomImage");
        randomImage.attr("src", randomImage.attr("src") + "&random=" + new Date().getTime());
    }
    var leftTime = 10;
    function getValidCode() {
        // $("#mobile").isValid(function() {
        //     $.ajax({
        //         url: '/get/message/code/noLogin',
        //         type: 'post',
        //         async: false,
        //         dataType: 'json',
        //         data: {mobile: $("#mobile").val()}
        //     });
        //     $("#getCode").prop("disabled", true);
        //     changeValue();
        // });
    }
    function changeValue() {
        leftTime--;
        if(leftTime == 0) {
            $("#getCode").text('重新获取验证码');
            leftTime = 10;
            $("#getCode").prop("disabled", false);
        } else {
            $("#getCode").text("获取验证码(" + leftTime + ")");
            window.setTimeout(function() {
                changeValue();
            },1000);
        }
    }
</script>
</body>
</html>